.flex-container {
  display: flex;
  background-color: lightgrey;
  flex-flow: row wrap;
  overflow: auto;
}

.flex-item {
  background-color: cornflowerblue;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 5px solid red;
  flex-grow: 1;
}
