.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 1px solid black;
  flex-grow: 1;
}

.mapgenerator {
  flex-grow: 0;
  width: 500px;
  height: 500px;
}

.mapgenerator canvas {
  width: 500px;
  height: 500px;
}